i.unexecuted {
    color: red;
}
i.executed {
    color: green;
}
.text-center {
    text-align: center;
}
p.noMargin {
    margin: 0;
}

:host /deep/ {
    form {
        padding: 20px !important;
    }
}
