<eng-template role="region" aria-label="Recommendations">
    <div class="contactPage">
        <h4 style="color:#074392">
            INFORMAZIONI E SUPPORTO
        </h4>
        <div class="mail">
            <div class="mail-item">
                <img class="mail-img" src="assets/img/icona_mail.svg" alt="" />
            </div>
            <div class="mail-item">
                <p class="mail-text">
                    <b>MAIL</b>
                    <br />
                    Per ricevere informazioni e supporto sull'utilizzo della
                    piattaforma o per inviare segnalazioni è attiva la casella
                    mail
                    <a href="mailto:meetpad@regione.marche.it"
                        >meetpad@regione.marche.it</a
                    >.
                </p>
            </div>
        </div>
        <div>
            <p class="mail-text">
                Per garantire una migliore gestione delle e-mail inviate per le
                richieste di supporto è opportuno indicare, ove possibile,
                almeno le seguenti informazioni:
            </p>

            <ul>
                <li>Ente di appartenenza</li>
                <li>Username (Codice Fiscale) di accesso al sistema</li>
                <li>Nome e Cognome</li>
                <li>Recapito mail e telefono per essere ricontattati</li>
                <li>Estremi della Conferenza di Servizi</li>
                <li>Descrizione della richiesta</li>
                <li>Eventuali allegati (screenshot e documenti)</li>
                <li>Eventuale ID dell'errore se presente nel messaggio (ID: xxxxxxxxxx))</li>
            </ul>
        </div>
    </div>
</eng-template>
