<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <span th:text="${message}"></span>

<BR>
Per accedere alla votazione la  seguente url
<p><span th:text="${votazione}"></span></p>
<BR>
<H1>ed incollare nella form il seguente valore</H1>
<b>Valore  da incollare:</b>
<p><span th:text="${otp}"></span></p>

<BR>
<H1>La conferenza è indetta tramite il seguente link:</H1>
<p><span th:text="${conferenza}"></span></p>
<BR>    

    
</body>
</html>