<div class="footer">
    <footer>
        <nav id="navigazionealternativa" class="row">
            <h2 class="hidden" translate="FOOTER.ALTERNATIVE_NAVIGATION"></h2>
            <div class="row">

            </div>

        </nav>
        <p class="hidden">
            <a href="#navinterna" title="torna alla navigazione interna alla pagina" translate="FOOTER.BACK_TO_INERNAL_NAVIGATION"></a>
        </p>
    </footer>

    <div id="subfooter">
        <p class="copy">
            Copyright 2018 by Eng
        </p>
        <h2 class="hidden" translate="FOOTER.SERVICE_MENU"></h2>
        <ul id="menuservizio">

            <li class="">
                <a href='#' title="{{'FOOTER.PRIVACY' | translate}}" translate="FOOTER.PRIVACY"></a>
            </li>

            <li class="">
                <a href='#' title="{{'FOOTER.TERM_OF_USE' | translate}}" translate="FOOTER.TERM_OF_USE"></a>
            </li>

            <li class="">
                <a href='#' title="{{'FOOTER.COOKIE_REPORT' | translate}}" translate="FOOTER.COOKIE_REPORT"></a>
            </li>

            <li class="">
                <a href='#' title="{{'FOOTER.SITEMAP' | translate}}" translate="FOOTER.SITEMAP"></a>
            </li>

            <li class="last">
                <a href='#' title="{{'FOOTER.LOGIN' | translate}}" translate="FOOTER.LOGIN"></a>
            </li>

        </ul>
        <p class="hidden">
            <a href="#navinterna" title="torna alla navigazione interna alla pagina">Torna alla navigazione interna</a>
        </p>

        <!-- <h2 class="hidden">Menu in lingua</h2>

        <ul id="menulingua">

          <li class="en">
            <a href='' title="">
              <span>Inglese</span>
            </a>
          </li>

          <li class="es">
            <a href='' title="">
              <span>Spagnolo</span>
            </a>
          </li>

          <li class="de">
            <a href='' title="">
              <span>Tedesco</span>
            </a>
          </li>

          <li class="fr">
            <a href='' title="">
              <span>Francese</span>
            </a>
          </li>
        </ul> -->

        <p class="hidden">
            <a href="#navinterna" title="torna alla navigazione interna alla pagina">Torna alla navigazione interna</a>
        </p>
    </div>
</div>
