.btnSave{
    margin-top: 15px;
}

.simpleSelect.form-group{
    padding: 0;
}

.paddingRight{
    padding-right: 15px;
}

.item-label {
    margin-bottom: 4px;
}

// .label:hover{
//     overflow: hidden;
//     text-overflow: ellipsis;
//     padding: unset;
//     font-size: 80%;
//     font-weight: normal;
//     border-radius: 0;
// }

// .visibilityCel:hover{
//     overflow: hidden !important;
//     text-overflow: ellipsis !important;
// }
