<div class="row">
    <div class="col-xs-12">
        <app-form
            [groupFields]="groupFields"
            [formGrey]="false"
            [footerButtons]="false"
            class="eventsSearchForm"
        >
        </app-form>
        <div class="row">
            <div class="pull-left">
                <a (click)="onReset()" class="cursor">
                    {{ reset }}
                </a>
            </div>
            <div class="pull-right">
                <eng-button
                    [title]="
                        'CONFERENCE.WIZARD.EVENTS.SEARCH_PANEL.SEARCH_BUTTON'
                            | translate
                    "
                    (onClick)="search()"
                ></eng-button>
            </div>
        </div>
    </div>
</div>
