<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<BR>    
Spett.le <u><span th:text="${destinatario}"></span></u>,<BR><BR>

l'amministrazione <u><span th:text="${amministrazioneProcedente}"></span></u> comunica che sono state modificate le date per la Conferenza di Servizi di seguito descritta:<BR><BR>
<!--  <th:block th:switch="${tipoDataModifica}">
	<u th:case="'DATA_TERMINE'">di termine</u>
	<u th:case="'DATA_PRIMA_SESSIONE_SIMULTANEA'">della prima sessione simultanea</u>
	<u th:case="'DATA_TERMINE_RICHIESTA_INTEGRAZIONI_CONFERENZA'">di termine della richiesta di integrazione</u>
	<u th:case="'DATA_TERMINE_ESPRESSIONE_PARERI'">di termine per l'espressione dei pareri</u>
</th:block> -->
ID conferenza: <u><span th:text="${idConferenza}"></span></u><BR><BR>

Riferimento pratica: <u><span th:text="${riferimentoIstanza}"></span></u><BR><BR>

Oggetto: <u><span th:text="${oggettoDetermina}"></span></u><BR><BR>

Le date per la Conferenza sono ora le seguenti:<BR><BR>

<!--
<table border="1">
	<tr>
		<td>Tipo data</td>
		<td>Data precedente</td>
		<td>Nuova data</td>
	</tr>
  <th:block th:each="tdm : ${tipoDataModifica}">
    <tr>
        <td><span th:text="${tdm.codiceTipoData}"></span></td>
        <td><span th:text="${tdm.dataOld}"></span></td>
        <td><strong><span th:text="${tdm.dataNew}"></span></strong></td>
    </tr>
  </th:block>
</table>-->

<th:block th:each="tdm : ${tipoDataModifica}">
	Tipo data: <span th:text="${tdm.codiceTipoData}"></span><BR>
	Data precedente: <span th:text="${tdm.dataOld}"></span><BR>
	Nuova data: <span th:text="${tdm.dataNew}"></span><BR><BR>
</th:block>

<BR><BR>Distinti saluti<BR><BR>

    
</body>
</html>