<div class="col-md-8 col-sm-12 col-xs-12">
    <app-page [page]="page"></app-page>
</div>

<div class="col-md-4 col-sm-12 col-xs-12 no-padding">
    <h3 class="noMargin">
        <span><strong [translate]="'INFORMATION.REGULATION'"></strong></span>
    </h3>
    <div>
        <a
            href="https://www.gazzettaufficiale.it/eli/id/1990/08/18/090G0294/sg"
            target="blank"
        >
            <span class="fa fa-gavel"></span>LEGGE 7 agosto 1990, n. 241
        </a>
        <br />
        <a
            href="https://www.gazzettaufficiale.it/eli/id/2016/07/13/16G00141/sg"
            target="blank"
        >
            <span class="fa fa-gavel"></span>DECRETO LEGISLATIVO 30 giugno 2016,
            n. 127
        </a>
    </div>
    <h3>
        <span><strong [translate]="'INFORMATION.USEFUL_DOC'"></strong></span>
    </h3>
    <div></div>
    <h3>
        <span><strong [translate]="'INFORMATION.FORMS'"></strong></span>
    </h3>
    <div></div>
</div>
