/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css';
@import '~font-awesome/css/font-awesome.css';

@import 'css-temp/custom.css';
@import 'css-temp/custom-webkit.css';

@import '~@ng-select/ng-select/themes/default.theme.css';

@import '~ngx-toastr/toastr.css';

@import '../node_modules/angular-calendar/css/angular-calendar.css';

#navigazionesecondaria,
.box-menu-contestuale {
    background-color: rgb(7, 67, 146);
}

img.img-meetpad-logo {
    margin-top: 16px;
    max-width: 50%;
    margin-left: 25%;
}

.img-logo {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

@media (max-width: 767px) {
    .img-logo {
        display: none;
    }
}

// workaround for bootstrap grid with error in input
eng-single-checkbox {
    .form-group {
        min-height: 0px;
    }
}
.form-group {
    min-height: 80px;
}

.text-center {
    text-align: center;
}

//step button
.footerButton {
    display: inline-flex;
    float: right;
}

eng-content-loader {
    &.loading {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    &.footerLoading {
        max-height: 60px !important;
        left: 0;
        margin-top: -10px;
    }
}

img.marginBottomTrue {
    margin-bottom: 10px;
}

img.noDragGhost {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.text-margin {
    margin-bottom: 5px;
    line-height: 1.5;
}

.reconstructionParagraph {
    margin-right: 15px;
    line-height: 26px;
}

/**
MENU
**/
.slider-menu.filtro.show-menu {
    display: block !important;
}

/**
MANAGE ACCORDION LOOKUP
**/
.lookup-type-3 {
    h2,
    h3 {
        display: none;
    }

    .form-grey {
        margin-top: 0;
    }

    button.fa-angle-down {
        /* to improve selection*/
        display: none;
    }
}

.eng-page {
    display: block;
}

.schifodatogliere-post-demo {
    .modal-body {
        height: 70vh;
        max-height: 80vh;
        // border: 1px solid red;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.eng-hidden {
    display: none;
}

.schifodatogliere-post-demo {
    .modal-body {
        height: 70vh;
        max-height: 80vh;
        // border: 1px solid red;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

app-accreditation-modal {
    eng-modal {
        .modal {
            .modal-dialog {
                .modal-content {
                    .modal-header {
                        .close {
                            display: none !important;
                            visibility: hidden !important;
                        }
                    }
                }
            }
        }
    }
}

/**
ZONA FIX DA RIVEDERE CON LEOPOLDO
**/

/* per il padding degli elementi negli accordion */
.display tbody > tr > td.fix-col-span-4-in-accordion {
    // position: absolute;
    width: 100%;
    padding: 0;
    border-top: 0;
    border-right: 0 !important;
    border-left: 0 !important;
    background-color: rgb(246, 246, 246);
}

.display tbody > tr > td.pop.fix-col-span-4-in-accordion {
    width: 1000000px; //la qualsiasi enorme. da rivedere  con urgenza
}

/* per togliere lo sfondo bianco nelle tabelle dentro accordion */
table.accordionTab table.table {
    background: transparent;

    thead tr {
        border: 0;
        background: transparent;
    }

    .pagination li a {
        background: transparent;
    }
}

/* alcuni problemi con il menu */
.slider-menu {
    padding-bottom: 30px;
    margin-bottom: 30px;
    left: 0px;
    top: 0;
    position: fixed;
}

/**
problemi con gli input di intevallo
*/
eng-input-double-date .date-range .datePicker > .form-group,
eng-input-number-interval .date-range .datePicker > .form-group {
    width: auto;

    &:nth-child(2) {
        margin-left: 10px;
    }
}

// .form-grey {
//     background-color: rgba(127, 208, 141, 0.15);
// }

eng-menu {
    .sidebar-superiore-title {
        color: white;
        display: none;
    }
}

eng-footer {
    position: absolute;
    z-index: 999;
    width: 100%;
}

.wizard-final-step eng-form-title {
    display: none;
}
.breadcrumb {
    color: rgb(7, 67, 146);
}
eng-wizard {
    .active,
    .prevActive {
        a,
        span {
            color: rgb(7, 67, 146) !important;
        }
    }
}

.capitalized {
    text-transform: capitalize;
}

.ng-select .ng-select-container {
    border-radius: 0px;
    border: 1px solid #afafaf;
}

.ng-select.ng-select-disabled .ng-select-container {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
    input {
        cursor: not-allowed !important;
    }
}

ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #a94442 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

// table.dataTable > tbody > tr > td {
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     max-width: 1px;
// }

// table.dataTable > tbody > tr > td:hover{
//     overflow: visible;
//     white-space: normal;
//     height:auto;  /* just added this line */
// }

// table.dataTable > tbody > tr > .td-icons {
//     white-space: unset;
//     text-overflow: unset;
//     overflow: unset;
//     max-width: unset;
// }

// table.dataTable > tbody > tr > .visibilityCel:hover {
//     overflow: hidden;
//     text-overflow: ellipsis;
// }

.ng-select.ng-select-multiple
    .ng-select-container
    .ng-value-container
    .ng-value {
    white-space: pre !important;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.ml-7 {
    margin-left: 7px !important;
}

.mr-7 {
    margin-right: 7px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.mt-2 {
    margin-top: 2px !important;
}

form {
    .panel-heading {
        a[data-toggle='collapse'] {
            color: #074392 !important;
        }
    }
}

.formNav.nav li {
    a {
        color: #074392 !important;
        border-radius: 0;
    }

    font-weight: 600;
    background: url(assets/img/icona_freccia-azzurra.png) no-repeat left 1.2em;
    list-style: none;
    margin: 0;

    a.active,
    a:focus,
    a:hover {
        background-color: #074392;
        color: white !important;
    }
}

.mh-56 {
    min-height: 56px;
}

.formDocumentsSwitch {
    .form-group {
        margin-bottom: 0 !important;
    }
}
.cal-month-view .cal-event {
    border-radius: 0 !important;
}

.ng-value-label {
    overflow: auto;
}

// .cal-month-view .cal-day-number {
//     opacity: 1 !important;
// }

// .cal-month-view .cal-out-month .cal-day-badge, .cal-month-view .cal-out-month .cal-event {
//     opacity: 1 !important;
// }
